name: "CI"

on:
  pull_request:
  push:
    branches:
    - '*'
    tags:
    - 'v*'

jobs:
  unit-test:
    name: "Unit Test"
    uses: na4ma4/actions/.github/workflows/unit-test.yml@main

  goreleaser:
    name: "Goreleaser"
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
      - unit-test
    uses: na4ma4/actions/.github/workflows/goreleaser.yml@main
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      docker: true
